
    <div class="panel panel-default " ng-class="{opacity: $ctrl.allComplited}">
        <div class="panel-heading" ng-style="{'background-color':$ctrl.background}">
            <h3 class="panel-title title" >
                <div  ng-bind="$ctrl.card.title" ></div>
                <button class="btn btn-warning" ng-click="$ctrl.delCard()">x</button>
            </h3>
        </div>

        <div class="panel-body" >
            <ul class="list-group">
                <todo-item
                    ng-repeat="todo in $ctrl.todos track by $index" todo="todo"
                    remove-todo="$ctrl.removeTodo($index)"
                    complited-todo="$ctrl.complitedTodo($index)"
                    edit-todo="$ctrl.editTodo($index, todo.title)">
                </todo-item>
            </ul>
        </div>

        <form class="panel-footer" ng-style="{'background-color': $ctrl.background}">
            <input type="text" class="form-control add-input" ng-model="$ctrl.title" placeholder="add todo" required>
            <button class="btn btn-success" ng-click="$ctrl.addTodo()"  ng-disabled="!$ctrl.title">Add</button>
        </form>
    </div>
