.completed {
  text-decoration: line-through;
}
.title{
  font-size: 20px;
  line-height: 34px;
  display: flex;
  justify-content: space-between;
}
.opacity{
  opacity: 0.5;
}
.add-input{
  margin-bottom: 10px;
}
.mainTitle{
  text-align: center;
  margin-bottom: 20px;
  color: #ccc;
}
