 <div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4" ng-repeat="card in $ctrl.cardList track by card.id">
          <card
              card="card"
              card-title="card.title"
              delete-card="$ctrl.deleteCard(card.id)"
          ></card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           <button class="btn btn-info btn-lg text-uppercase" ng-show="$ctrl.isShow" ng-click="$ctrl.addCard()">add widget</button>
        </div>
    </div>
</div>
